@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Outfit', sans-serif;
}
